# EDA

In [ ]:
## Importo librerías
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [ ]:
# Definimos el identificador de la hoja de cálculo de Google Sheets
Id_planilla = '1lJuHZIl-8iYOoi5cfYmnVoQq-RBl_2Yu2XIsqsjOvQA'

# Construimos la URL para acceder a la hoja de cálculo en formato CSV
URL = f'https://docs.google.com/spreadsheets/d/{Id_planilla}/gviz/tq?tqx=out:csv&sheet='

#Obtener los datos

df_TC = pd.read_csv(URL + 'Hoja')

In [ ]:
#Obtener el tamaño de cada dimensión
df_TC.shape

(7043, 22)

In [ ]:
#Obtener el número total de elementos
df_TC.size

154946

In [ ]:
#Pantallazo general para los no nulos, tipos y columnas
df_TC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   customerID        7043 non-null   object
 2   gender            6127 non-null   object
 3   SeniorCitizen     6127 non-null   float64
 4   Partner           6127 non-null   object
 5   Dependents        6127 non-null   object
 6   tenure            6127 non-null   float64
 7   PhoneService      6127 non-null   object
 8   MultipleLines     6127 non-null   object
 9   InternetService   6127 non-null   object
 10  OnlineSecurity    6127 non-null   object
 11  OnlineBackup      6127 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          5846 non-null   object
 17  PaperlessBilling  5846 non-null   object
 18  PaymentMethod     5846 non-null   object
 19  MonthlyCharges    5846 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7043 non-null   object
dtypes: float64(4), int64(1), object(17)
memory usage: 1.2+ MB

In [ ]:
#Distribucion de la variable Churn
df_TC['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [ ]:
# Verificar los valores únicos en Churn
print(df_TC['Churn'].unique())

['No' 'Yes']

In [ ]:
# Limpiar la columna Churn y convertir a formato numérico
df_TC['Churn'] = df_TC['Churn'].str.strip()  # Eliminar espacios en blanco
df_TC['Churn'] = df_TC['Churn'].map({'Yes': 1, 'No': 0})

In [ ]:
# Reemplazar cadenas vacías o espacios por NaN
df_TC['Churn'].replace('', pd.NA, inplace=True)
df_TC['Churn'].replace(' ', pd.NA, inplace=True)

<ipython-input-464-dc90d0400b7e>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_TC['Churn'].replace('', pd.NA, inplace=True)
<ipython-input-464-dc90d0400b7e>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_TC['Churn'].replace(' ', pd.NA, inplace=True)

In [ ]:
#Ver que los valores sean 0 y 1
print(df_TC['Churn'].unique())

[0 1]

In [ ]:
# Verificar si hay NaNs después del mapeo
print("NaNs en Churn después del mapeo:")
print(df_TC['Churn'].isnull().sum())

NaNs en Churn después del mapeo:
0

In [ ]:
#Que tipo
print(df_TC['Churn'].dtype)

int64

In [ ]:
#Verificar duplicados
df_TC.duplicated().sum()

0

In [ ]:
#Eliminar Columna unnamed: 0 ya que no es necesario para el analisis
df_TC.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
# Comprobar valores nulos por columna
print(df_TC.isnull().sum())

customerID             0
gender               916
SeniorCitizen        916
Partner              916
Dependents           916
tenure               916
PhoneService         916
MultipleLines        916
InternetService      916
OnlineSecurity       916
OnlineBackup         916
DeviceProtection       0
TechSupport            0
StreamingTV            0
StreamingMovies        0
Contract            1197
PaperlessBilling    1197
PaymentMethod       1197
MonthlyCharges      1197
TotalCharges          11
Churn                  0
dtype: int64

In [ ]:
#Contador de Nans
df_TC.isna().sum()

customerID             0
gender               916
SeniorCitizen        916
Partner              916
Dependents           916
tenure               916
PhoneService         916
MultipleLines        916
InternetService      916
OnlineSecurity       916
OnlineBackup         916
DeviceProtection       0
TechSupport            0
StreamingTV            0
StreamingMovies        0
Contract            1197
PaperlessBilling    1197
PaymentMethod       1197
MonthlyCharges      1197
TotalCharges          11
Churn                  0
dtype: int64

In [ ]:
#Obtener el tamaño de cada dimensión
df_TC.shape

(7043, 21)

In [ ]:
# Separar características y etiqueta después de limpiar
X = df_TC.drop(columns=['Churn', 'customerID'])
y = df_TC['Churn']

In [ ]:
# Codificación de variables categóricas
X = pd.get_dummies(X, drop_first=True)  # Convierte variables categóricas a variables dummy

In [ ]:
# Verificar si hay NaNs en y
print("NaNs en y (Churn):")
print(y.isnull().sum())

NaNs en y (Churn):
0

In [ ]:
# Verificar si hay NaNs después del mapeo
print("NaNs en Churn después del mapeo:")
print(df_TC['Churn'].isnull().sum())

NaNs en Churn después del mapeo:
0

In [ ]:
# Imputar valores nulos en X si existen
imputer = SimpleImputer(strategy='mean')  # Para columnas numéricas
X_imputed = imputer.fit_transform(X)

# Convertir X_imputed a DataFrame nuevamente para mantener las columnas originales
X = pd.DataFrame(X_imputed, columns=X.columns)

In [ ]:
# Verificar si hay NaNs en y
print("NaNs en y (Churn):")
print(y.isnull().sum())

NaNs en y (Churn):
0